
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
{% load url from future %}
{% load cache %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <title>Unicef / {% if object %}{{ object.title }}{% else %} Universal Core {% endif %}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="description" content="{% if object %}{{ object.description }}{% else %}{% endif %}">
    <meta name="keywords" content="moms,maternal,baby,pregnancy,pregnant,expectant,mama,askmama,ask,mother,pain,birth,help">
    <link href="{{ STATIC_URL }}css/style.css?20140724-1" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrap">
    <div id="header">
        <a href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/logo.png" border="0" /></a>
    </div>
    <div id="nav">
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'about' %}">About</a> |
        <a href="{% url 'credits' %}">Credits</a> |
        <a href="{% url 'contact' %}">Contact</a>
    </div>


    <div id="content">

        {% block above_content %}
        {% endblock %}

        {% block messages %}
        {% if messages %}
            <div class="content-inner">
                <div class="items">
                    <div class="item comment no-pic" style="background-color: #fee">
                        <div class="meta">
                            <div class="stamp">
                                <br/>
                                {% for message in messages %}
                                <p><strong>{{ message }}</strong></p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            {% block footer_search_form %}
            <!--
            <div class="h1">Search</div>
            <form id="frmSearch" method="get" action="">
                <div class="row"><input type="text" name="q" value="{{ query }}" class="short" /></div>
                <div class="row"><input type="submit" name="submit" value="Search" class="btn" /></div>
                <div class="clear"></div>
            </form>
            -->
            {% endblock %}

            <!--
            <div class="h1">Share This Site</div>
            <div class="content-inner">
                <div class="social"><p>Share This:</p> <a href="http://twitter.com/home?status=MAMA - Mobile Alliance for Maternal Action http://zm.unicef.unicore.io"><img src="{{ STATIC_URL }}img/twitter.png" /></a> <a href="http://www.facebook.com/sharer.php?u=http://zm.unicef.unicore.io&t=MAMA - Mobile Alliance for Maternal Action"><img src="{{ STATIC_URL }}img/facebook.png" /></a></div>
            </div>
            -->
        {% endblock %}

        {% block menu %}
        <div id="menu">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'credits' %}">Credits</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>
        {% endblock %}

    </div>

    <div id="footer">
        <span>&copy; Unicef {% now "Y" %}</span>
    </div>
    {% load google_analytics_tags %}
    <div style="display:none">
        <img src="{% google_analytics request %}" width="0" height="0" />
    </div>

</div>
</body>
</html>
