{% extends 'base.html' %}

{% block content %}
    <div class="h2">Contact Us</div>
    <div class="intro">Ask us questions or connect with us</div>
    <div class="detail">
        <p>Email: <a href="mailto:lusaka@unicef.org">lusaka@unicef.org</a></p>
        <p>
            <a href="http://www.facebook.com/UNICEFZambia" target="_blank"><img src="{{ STATIC_URL }}img/icon-facebook.png"></a> &nbsp;
            <a href="http://twitter.com/UNICEFZambia" target="_blank"><img src="{{ STATIC_URL }}img/icon-twitter.png"></a>
        </p>
    </div>
{% endblock %}
