{% extends 'base.html' %}
{% load url from future %}

{% block above_content %}
<div id="banner"><img src="{{ STATIC_URL }}img/kids.jpg"></div>
{% endblock %}

{% block content %}
    <div id="content">
        <div class="h1">
            <a href="{% url 'category_object_list' 'diarrhoea' %}"><img src="{{ STATIC_URL }}img/icon-diarrhoea.jpg"> Diarrhoea</a>
            <div class="clear"></div>
        </div>

        <div class="h1">
            <a href="{% url 'category_object_list' 'hygiene' %}"><img src="{{ STATIC_URL }}img/icon-hygiene.jpg"> Hygiene</a>
            <div class="clear"></div>
        </div>
    </div>

    <div id="menu">
        <a href="index.html">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'terms' %}">Terms</a>
    </div>
{% endblock %}
