{% extends 'base.html' %}
{% load url from future %}

{% block above_content %}
<div id="banner"><img src="{{ STATIC_URL }}img/kids.jpg"></div>
{% endblock %}

{% block content %}
    <div id="content">
        {% for cat in categories %}
        <div class="h1">
            <a href="{% url 'category_object_list' cat.slug %}"><img src="{{ STATIC_URL }}img/icon-{{cat.slug}}.jpg"/> {{cat.title}}</a>
            <div class="clear"></div>
        </div>
        {% endfor %}

        <div class="detail">
            <p><strong>Facts for Life saves lives!</strong></p>
            <p>Facts for Life, provides vital messages and information for mothers, fathers, other family members and caregivers and communities to use in changing behaviours and practices that can save and protect the lives of children and help them grow and develop to their full potential.</p>
            <p><a href="{% url 'about' %}">Read more »</a></p>
        </div>
    </div>
{% endblock %}
